@model List<Product>

<form method="post" asp-controller="Stock" asp-action="Index">
    <input class="form-control col-3" type="text" name="searchText">
    
    <select name="sortBy" class="form-select">
        @foreach (string columnName in ViewBag.SortByOptions)
        {
            <option value=@columnName>@columnName</option>
        }
    </select>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Minimum Level</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th>@product.ProductID</th>
                <th>@product.Name</th>
                <th>@product.MinimumLevel</th>
                <th>
                    <form method="post" asp-controller="Stock" asp-action="Update">
                    <input type="number" name="newQuantity" value=@product.Quantity>
                    <input type ="number" hidden name="productID" value="@product.ProductID">
                    <button class="btn btn-outline-primary" type="submit">Update</button>
                    </form>
                </th>
                
            </tr>
            
        }
    </tbody>
    
</table>


