@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi @Employee.LoggedInEmployee.FirstName @Employee.LoggedInEmployee.LastName!</h1>
    <h6 class="mb-5">(@Employee.LoggedInEmployee.Role.ToString().Replace("_"," "))</h6>
    @{
        if ((int)Employee.LoggedInEmployee.Role != 3)
        {
            <div>@ViewBag.stockoutCount stockouts </div>
            <div>@ViewBag.lowstockCount low stocks</div>
        }
    }
</div>
