@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi @Employee.LoggedInEmployee.FirstName @Employee.LoggedInEmployee.LastName!</h1>
    <h6 class="mb-5">(@Employee.LoggedInEmployee.Role.RoleName)</h6>
    @{
        if (Employee.LoggedInEmployee.RoleId == 1 || Employee.LoggedInEmployee.RoleId == 2)
        {
            string bgColor;
            if (ViewBag.stockoutCount > 0)
            {
                bgColor = "bg-danger";
            }
            else if ( ViewBag.lowstockCount > 0)
            {
                bgColor = "bg-warning";
            }
            else
            {
                bgColor = "bg-success";
            }

            <div class="card @bgColor col-3 mx-auto">
                @if (ViewBag.stockoutCount > 0 || ViewBag.lowstockCount > 0)
                {
                    <a asp-controller="Order" asp-action="SearchProduct">@ViewBag.stockoutCount stockouts </a>
                    <a asp-controller="Order" asp-action="SearchProduct">@ViewBag.lowstockCount low stocks</a>
                }
                else
                {
                    <div>@ViewBag.stockoutCount stockouts </div>
                    <div>@ViewBag.lowstockCount low stocks</div>
                }
            </div>
        }
    }
</>
