@{
    ViewData["Title"] = "Employees Page";
}

@model List<Employee>


<form method="post" asp-controller="Employee" asp-action="Search">
    
    <input class="form-control col-3" type="text" name="searchText" value="@ViewBag.SearchText">

    <!--populate select menu with sortOptions-->
    <select name="sortBy" class="form-select">
        @foreach (string columnName in ViewBag.SortByOptions)
        {
            if (ViewBag.SortBy == columnName)
            {
                <option selected value=@columnName>@columnName</option>
            }
            else
            {
                <option value=@columnName>@columnName</option>
            }
        }
    </select>
    <button class="btn btn-primary" type="submit">Search</button>
    
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Add">Add New Employee</a>
</form>

<!--table that show employees stored in List<Employee>  -->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <th>@employee.EmployeeID</th>
                <th>@employee.FirstName</th>
                <th>@employee.LastName</th>
                <th>@employee.UserName</th>
                <th>@employee.Role.RoleName</th>

                <!--show hyperlinks to show employee's detail, edit employee, or delete
                    it will pass employee id in asp-route-id to its controller these are [HttpGet].
                -->
                <th>
                    <a asp-controller="Employee" asp-action="Details" asp-route-id=@employee.EmployeeID>Details</a>
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id=@employee.EmployeeID>Edit</a>
                    <!--hide delete button from in front of logged in employee-->
                    @if (ViewBag.LoggedInEmployeeID != employee.EmployeeID)
                    {
                        <a asp-controller="Employee" asp-action="Delete" asp-route-id=@employee.EmployeeID>Delete</a>
                    }
                </th>

            </tr>

        }
    </tbody>

</table>