@model OrderRecord

<!--This view to show order details-->
<h2 class="mb-2">View Product</h2>

<div class="mb-3">
    <label class="form-label">Order On</label>
    <input readonly value="@Model.OrderedOn" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Product</label>
    <input readonly value="@Model.ProductName" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Category</label>
    <input readonly value="@Model.CategoryName" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Supplier</label>
    <input readonly value="@Model.SupplierName" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">QuantityOrdered</label>
    <input readonly value="@Model.QuantityOrdered" class="form-control">
</div>
<div class="mb-3">
    <label class="form-label">Total Wholesale Price</label>
    <input readonly value="@Model.WholesalePrice" class="form-control">
</div>

@{ // converts boolean value to Yes or No
    string receivedYesNo = Model.IsReceived ? "Yes" : "No";
}
<div class="mb-3">
    <label class="form-label">Received</label>
    <input readonly value=@receivedYesNo class="form-control">
</div>
<a class="btn btn-primary" asp-contoller="Order" asp-action="Search">OK</a>
