@model List<OrderRecord>

<form method="post" asp-controller="Order" asp-action="Search">
    <input class="form-control col-3" type="text" name="searchText">

    <select name="sortBy" class="form-select">
        @foreach (string columnName in ViewBag.SortByOptions)
        {
            <option value=@columnName>@columnName</option>
        }
    </select>
    <button class="btn btn-primary" type="submit">Search</button>
    <a class="btn btn-primary float-end" asp-controller ="Order" asp-action="PlaceOrderView">Place New Order</a>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ordered On</th>
            <th>Product</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Quantity Ordered</th>
            <th>Received</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderRecord orderRecord in Model)
        {
            <tr>
                @{
                    string receivedYesNo = orderRecord.IsReceived ? "Yes" : "No";
                }
                <th>@orderRecord.OrderedOn</th>
                <th>@orderRecord.ProductName</th>
                <th>@orderRecord.CategoryName</th>
                <th>@orderRecord.SupplierName</th>
                <th>@orderRecord.QuantityOrdered</th>
                <th>@receivedYesNo</th>
                <th>
                    <a asp-controller="Order" asp-action="Details" asp-route-orderRecordId=@orderRecord.OrderRecordID>Details</a>
                    @if (!orderRecord.IsReceived)
                    {
                        <a asp-controller="Order" asp-action="Receive" asp-route-orderRecordId=@orderRecord.OrderRecordID>Receive</a>
                    }
                </th>

            </tr>

        }
    </tbody>

</table>


