@model List<Product>

<!--This to post searchby sortBy and ShowOnlyBelowMinimumLevel variables to SearchProduct action-->
<form method="post" asp-controller="Order" asp-action="SearchProduct">
    <input class="form-control col-3" type="text" name="searchText">

    <select name="sortBy" class="form-select">
        @foreach (string columnName in ViewBag.SortByOptions)
        {
            <option value=@columnName>@columnName</option>
        }
    </select>
    <input type="checkbox" value=@ViewBag.ShowOnlyBelowMinimumLevel checked=@ViewBag.ShowOnlyBelowMinimumLevel name="showOnlyBelowMinimumLevel" />
    <labe class="me-4">Show Only Products Below Minimum Level</labe>
    <!--check box for ShowOnlyBelowMinimumLevel-->
    <button class="btn btn-primary" type="submit">Search</button>
    <a class="btn btn-primary float-end" asp-action="Index">Back</a>
</form>

<!--Table that show list of products passed in List<Product>-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Minimum Level</th>
            <th>Current Quantity</th>
            <th>Quantity Not Received</th>
            <th>Maximum Level</th>
            <th>Recommended Order Quantity</th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0;i <Model.Count();i++)
        {
            //for each product calculate recommended quantity to order which equals
            // Max Level - Current Quantity - Quantity Not Received
            int quantityNotReceived = ViewBag.QuantityNotReceivedCount[i];
            int recommendedQuantity = Model[i].MaximumLevel - @Model[i].Quantity - quantityNotReceived;

            // if recommended quantity was 0 or negative then RecommendedQuanitity is 0
            if (recommendedQuantity <= 0)
            {
                recommendedQuantity = 0;
            }

            <tr>
                <th>@Model[i].ProductID</th>
                <th>@Model[i].Name</th>
                <th>@Model[i].MinimumLevel</th>
                <th>@Model[i].Quantity</th>
                <th>@quantityNotReceived</th>
                <th>@Model[i].MaximumLevel</th>
                <th>@recommendedQuantity</th>
                <th>
                    <!--This is the form to post orderQuantity, productID
                        these will be used to create order record
                    -->
                    <form method="post" asp-controller="Order" asp-action="PlaceOrder">
                        <!-- min="0" oninput="validity.valid||(value='');"  This prevent numbers from being
                        negative-->
                        <input type="number" name="orderQuantity" min="0" oninput="validity.valid||(value='');" value=@recommendedQuantity>
                        <input type="number" hidden name="productID" value=@Model[i].ProductID>
                        <button class="btn btn-outline-primary" type="submit">Place Order</button>
                    </form>
                </th>

            </tr>

        }
    </tbody>

</table>


