@model List<Product>

<form method="post" asp-controller="Product" asp-action="Search">
   
    <label>Search Product:</label><br>
    <input class="form-control col-3" type="text" name="searchText" value="@ViewBag.SearchText"><br />

    <label>Sort Product by:</label><br>
    <select name="sortBy" class="form-select">
        @foreach (string columnName in ViewBag.SortByOptions)
        {
            if (ViewBag.SortBy == columnName)
            {
                <option selected value=@columnName>@columnName</option>
            }
            else
            {
                <option value=@columnName>@columnName</option>
            }
        }
    </select><br />
    <button class="btn btn-primary" type="submit">Search</button>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add New Product</a>
</form><br />
<div>Note : You can't delete a product if the quantity is not 0, or if it has orders not received yet.</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Active</th>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @for (int i =0;i< Model.Count(); i++)
        {
            string buttonName = Model[i].IsActive ? "Deactivate" : " Activate ";
            string activeColumnValue = Model[i].IsActive ? "Yes" : "No";
            <tr>
                <th>
                    <form asp-action="ChangeState" method="post">
                        <button class="btn btn-outline-primary" type="submit">@buttonName</button>
                        <input hidden name="productID" value=@Model[i].ProductID>
                    </form>
                </th>
                <th>@activeColumnValue</th>
                <th>@Model[i].ProductID</th>
                <th>@Model[i].Name</th>
                <th>@Model[i].Description</th>
                <th>@Model[i].Category.Name</th>
                <th>@Model[i].Quantity</th>
                <th>
                    <a asp-controller="Product" asp-action="Details" asp-route-id=@Model[i].ProductID>Details</a>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id=@Model[i].ProductID>Edit</a>
                    @if (Model[i].Quantity == 0 && ViewBag.QuantityNotReceivedCount[i] == 0)
                    {
                        <a asp-controller="Product" asp-action="Delete" asp-route-id=@Model[i].ProductID>Delete</a>
                    }
                </th>
            </tr>

        }
    </tbody>

</table>


