@model Tuple<List<Product>,Dictionary<int,int>>

<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
      integrity="sha-long-hash_code" crossorigin="anonymous">
<form method="post" asp-controller="Sales" asp-action="Search">

    <div class="alig col-md-3">
        <label> Search Product:</label>
        <input class="form-control" placeholder="Leave Blank to Show All." type="text" name="searchText" value="@ViewBag.SearchText">
        <label>Sort Product by:</label>
        <select name="sortBy" class="form-select">
            @foreach (string columnName in ViewBag.SortByOptions)
            {
                if (ViewBag.SortBy == columnName)
                {
                    <option selected value=@columnName>@columnName</option>
                }
                else
                {
                    <option value=@columnName>@columnName</option>
                }
            }
        </select>
    </div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-primary fa fa-search" type="submit">&nbsp;Search</button><br /></div>

    <div>
        <br />
        <a class="btn btn-outline-primary float-end m-2 fas fa-shopping-cart" asp-controller="Sales" asp-action="ViewCart">&nbsp;Cart&nbsp;<span class="badge bg-primary">@Model.Item2.Sum(x=>x.Value)</span></a>
        <a class="btn btn-outline-primary float-end m-2 fas fa-trash" asp-controller="Sales" asp-action="ClearCart">&nbsp;Clear Cart</a>
    </div>
</form>
<br />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Shelf Price</th>
            <th>Transaction Quantity</th>
            <th>Items in Cart</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Item1)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category.Name</td>
                <td>@product.Supplier.SupplierName</td>
                <td>@product.ShelfPrice</td>
                <td>
                    <form method="post" asp-controller="Sales" asp-action="AddToCart">
                        <input type="number" name="quantityToBeAddedToCart" min="0" oninput="validity.valid||(value='');" value=1>
                        <input type="number" hidden name="productID" value=@product.ProductID>
                        <button class="btn btn-outline-primary" type="submit">Add to Cart</button>
                    </form>
                </td>
                <td>
                    @Model.Item2.GetValueOrDefault(product.ProductID)
                </td>
            </tr>

        }
    </tbody>

</table>


