@{
    ViewData["Title"] = "Sales";
}
@model Tuple<List<Product>,Dictionary<int,int>>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Transaction Quantity</th>
            <th>Shelf Price</th>
            <th>Total Per Product</th>
        </tr>
    </thead>
    <tbody>
        @{
            double total=0;
        }
        @foreach (var product in Model.Item1)
        {
            <tr>
                <th>@product.ProductID</th>
                <th>@product.Name</th>
                <th>
                    <form asp-action="UpdateCart">
                        <div class="row">   
                            <input class="col-5 input-group-text bg-white" type="number" name="changeQuantityInCart" min="0" oninput="validity.valid||(value='');" value=@Model.Item2[product.ProductID]>
                            <input type="number" hidden name="productID" value=@product.ProductID>
                            <button class="col-5 btn btn-outline-primary ms-1" type="submit">Update Cart</button>
                        </div>
                    </form>
                </th>

                <th>@product.ShelfPrice.ToString("c")</th>
                @{
                    double totalPerProduct = product.ShelfPrice * Model.Item2[product.ProductID];
                    total += totalPerProduct;
                }
                <th>@totalPerProduct.ToString("c")</th>
            </tr>

        }
        <tr>
        </tr>
        <tr>
            <th></th>
            <th>
            </th>
            <th>
                <a class="btn btn-primary" asp-controller="Sales" asp-action="Return">Return</a>
                <a class="btn btn-primary float-end" asp-controller="Sales" asp-action="CheckOut">CheckOut</a>
            </th>
            <th>Total</th>
            <th>@total.ToString("c")</th>
        </tr>
    </tbody>

</table>